/.ipynb_checkpoints
/2011_US_AGRI_Exports
/2012_Election_Data
/2014_World_GDP
/2014_World_Power_Consumption
/911.csv
/advertising.csv
/california_housing_sklearn.csv
/Classified Data
/DATA
/df1
/df2
/df3
/Ecommerce Customers
/Ecommerce Purchases
/example
/example.csv
/example.txt
/example2.txt
/Excel_Sample.xlsx
/fig.png
/final_project_model.h5
/full_data_project_model.h5
/iris.csv
/kyphosis.csv
/logs
/MNIST_data
/Movie_Id_Titles
/multi_index_example
/my_gem_model.h5
/my_model.h5
/precipitation.html
/projects
/project_model.h5
/Salaries.csv
/services.txt
/smsspamcollection
/temp-plot.html
/titanic_test.csv
/titanic_train.csv
/u.data
/u.item
/USA_Housing.csv
/yelp.csv